:root {
  --offwhhite: #efefef;
}

.contact {
  text-align: center;
}

.section-title {
  margin-bottom: 5rem;
}

.section-title h2 {
  font-size: 3rem;
  color: var(--dark);
}

.section-title p {
  font-size: 1.2rem;
  color: var(--dark);
}

.contact__wrapper {
  display: flex;
  gap: 5rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.left,
.right {
  flex: 1;
  max-width: 500px;
  min-width: 300px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__box {
  background-color: var(--offwhhite);
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
}
.contact__box a {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
}

.contact__box a {
  display: flex;
  align-items: center;
  color: var(--dark);
  text-decoration: none;
}

.contact__box h3 {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.contact__social {
  font-size: 2rem;
}

.contact__form {
  /* background-color: var(--dark); */
  padding: 2rem;
  border-radius: 8px;
}

.contact__form label {
  text-align: left;
  display: block;
  margin-bottom: 0.5rem;
  color: var(--dark);
  font-weight: bold;
  font-size: 1.5rem;
}

.contact__form input,
.contact__form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  background-color: var(--offwhhite);
  color: var(--dark);
}

.contact__form textarea {
  min-height: 200px;
}

.contact__form button {
  background-color: var(--yellow);
  color: var(--dark);
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .contact__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
