.portfolio .box__container {
  margin: 40px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.portfolio .box__container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .box__container .box:hover img {
  transform: scale(1.1);
}
