@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* --yellow: #fff192; */
  --yellow: #fedd00;
  --dark: #333;
  --white: #fff;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--yellow);
  color: var(--dark);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #222;
}

html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

body {
  /* background: var(--dark); */
  background-color: var(--white);
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  /* padding: 1.2rem; */
  /* margin-left: 100px; */
}
a {
  text-decoration: none;
  color: var(--dark);
}
/*all btns styling*/
.btn {
  width: 140px;
  height: 45px;
  font-size: 23px;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--dark);
  background-color: var(--white);
  font-weight: 600;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  width: 5px;
  height: 100%;
  background-color: var(--yellow);
  z-index: -1;
  transition: all 0.5s;
}
.btn:hover::before {
  width: 102.5%;
}
.btn:hover {
  color: #000;
}

.heading {
  text-align: center;
  text-transform: capitalize;
  margin: 8rem 0 0 0;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #fff4;
  color: var(--dark);
}

.heading span {
  color: var(--yellow);
  background-color: var(--dark);
  padding: 3px 7px;
}

/*header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid var(--yellow);
}

header .user .name {
  font-size: 3.5rem;
  color: var(--dark);
}

header .user .post {
  font-size: 2rem;
  color: var(--dark);
}

header .navbar {
  width: 100%;
}

header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}

header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: #333;
  color: #fff;
  font-size: 2rem;
  border-radius: 5rem;
}

header .navbar ul li a:hover {
  background: var(--yellow);
} */
.container {
  width: 85%;
  max-width: 1300px;
}

.top {
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index: 100;
  display: none;
}
.top img {
  width: 40px;
}

/* media queries  */

@media (min-width: 1201px) {
  /* About page */
  #about {
    margin-left: 100px;
    padding: 1.2rem;
  }
  /* Skills page */
  .education {
    margin-left: 0;
  }
  /* work page */
  #portfolio {
    margin-left: 100px;
    padding: 1.2rem;
  }
  .portfolio {
    width: 85%;
  }
  /* Contact page */
  #contact {
    margin-left: 100px;
  }
}

@media (max-width: 1200px) {
  /* Homepage */
  #home {
    margin-left: 70px;
  }
  section.home {
    top: -180px;
  }

  html {
    font-size: 55%;
  }

  .home {
    padding: 1rem 4rem;
  }
  /* About page */
  #about {
    margin-left: 90px;
  }

  /* work page */
  #portfolio {
    margin-left: 100px;
    padding: 1.2rem;
  }
  /* Contact page */
}

@media (max-width: 991px) {
  #home {
    margin-left: 70px;
  }
  section.home {
    top: -160px;
  }
  /* About page */
  #about {
    margin-left: 70px;
    padding: 1.2rem;
  }
  /* Skills page */
  .education {
    margin-left: 50px;
  }

  /* work page */
  #portfolio {
    margin-left: 100px;
    padding: 1.2rem;
  }
  /* Contact page */
  #contact {
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  /* Home page */
  #home h1 {
    font-size: 3.5rem;
  }
  #home h3 {
    font-size: 2rem;
  }
  #home {
    margin-left: 70px;
  }
  section.home {
    top: 0px;
  }
  /* About page */
  #about {
    margin-left: 50px;
  }
  /* work page */
  #portfolio {
    margin-left: 80px;
    padding: 1.2rem;
  }
  /* Contact page */
  #contact {
    margin-left: 70px;
  }
}

@media (max-width: 420px) {
  /* Home page */
  #home h1 {
    font-size: 3.5rem;
  }
  #home h3 {
    font-size: 2rem;
  }
  #home {
    margin-left: 70px;
  }

  header {
    width: 60vw;
  }

  .heading {
    margin: 0 3rem;
  }
  /* About page */
  #about {
    margin-left: 70px;
  }
  .about .image img {
    width: 250px;
  }

  .education .box-container .box {
    width: 100%;
  }
  /* Skills page */
  .education {
    margin-left: 20px;
  }

  /* work page */
  #portfolio {
    margin-left: 70px;
  }

  .portfolio .box-container {
    padding: 0;
  }

  .portfolio .box-container .box {
    width: 100%;
  }
  /* Contact page */

  .contact .row form {
    margin: 3rem 0;
  }
}
